<app-header-auth></app-header-auth>
<div class="container">
    <h2 class="text-center">Crea o inserte los datos de respaldo del sistema</h2>
    <h4>Instrucciones</h4>
    <p>1.-Para los datos respaldados se descargara un archivo .json que contiene las fechas de pronostico registradas</p>
    <p>2.-Asegurese de realizar una copia de manera semanal o mensual para garantizar la actualidad de los datos</p>
    <p>3.-Estos datos solo son sacados de la base de datos por lo cual las imaganes deberan descargarse de manera individual</p>
    <p>4.-Las imagenes tambien deberan subirse de manera individual</p>
    <p>5.-Esta archivo.json debera cargarse a travez de el administrador de la base de datos(MongoDb)</p>
    <button class="btn btn-secondary" (click)="descargar()">descargar</button>
    
</div>
