<nav class="navbar navbar-expand-lg navbar-scroll  shadow-0 border-bottom border-dark">
    <div class="container">
      <a class="navbar-brand"><img src="./assets/cropped-cropped-Cintillo_actual.jpg" width="400"></a>
      <a class="navbar-brand" href="https://www.tecnm.mx/"><img src="./assets/TECNM1.png" alt="tecnm" width="150"></a>
      <a class="navbar-brand" href="http://itspozarica.edu.mx/"><img src="./assets/pleca-itspr.jpeg" alt="tecnm" width="80"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/inicio'">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/pronosticos'">Pronosticos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/nosotros'">Acerca De</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="'/agradecimientos'">Agradecimientos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
