<app-header></app-header>
<div class="container">
    <br>
  <h4 class="text-center">Acerca de SIMOCAVER</h4>
  <br>
  <p>
    El Sistema de Modelado de Calidad del Aire en el estado de Veracruz mediante
    cómputo de alto rendimiento y redes neuronales se creo con la finalidad de
    realizar predicxiones, estimaciones y difundir los alcances espaciales de la
    contaminación atmosferica en las cuencas del estado de veracruz.
  </p>
  <br />
  <p>
    Se Utilizan Modelos de preprocesamiento, procesamiento y post-procesamiento
    del modelo pronostico WRF-CMAQ-CHEM y se crean en base a los datos la
    imagenes mostraras en pronosticos para visualizar las predicciones de manera
    grafica y eficiente para el publico en general.
  </p>
  <br />
  <p>Los productos del proyecto SIMOCAVER:</p>
  <p>-Example</p>
  <p>-Example</p>
  <p>-Example</p>
  <p>-Example</p>
  <p>-Example</p>
  <p>-Example</p>
</div>
<app-footer></app-footer>
