<app-header></app-header>
<div class="container">
    <br>
    <h4 class="text-center">Conoce los pronosticos que determinan la calidad del aire y otros factores</h4>
    <br>
    <p>Seleccione una variable y fecha para ver el pronostico</p>
    <br>
    <div class="row">
      <div class="col-4 border border-secondary">
        <div>
          <div class="mb-3">
            <label class="form-label">Selecciona una fecha (por defecto carga el pronostico de hoy)</label>
            <input type="date" class="form-control" id="fecha" value=`${fechaActual}` (change)="seleccion()">
          </div>
          <div class="mb-3">
            <label class="form-label">Selecciona variable</label>
            <select class="form-control" id="variable" (change)="seleccion()">
              <option value="T2">Temperatura</option>
              <option value="Ozono">ozono</option>
              <option value="Pm10">Pm10</option>
              <option value="Pm2.5">Pm2.5</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-8">
        <img  id="imgSource" class="img-fluid"  alt="">
        <div class="input-group mb-3">
          <button class="input-group-text"  (click)="animation()"><i id="play-pause"  class="bi bi-play"></i></button>
          <div class="form-floating">
            <input type="range" (change)="animation()" class="form-control form-range-lg" name="" id="progress" value="0" step="1" min="0" max="24">
          </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>
