<app-header></app-header>
<div class="container">
    <br>
    <h4 class="text-center">Conoce los pronosticos que determinan la calidad del aire y otros factores</h4>
    <br>
    <p>Seleccione una variable y fecha para ver el pronostico</p>
    <br>
    <div class="row">
      <div class="col-4 border border-secondary">
        <div>
          <div class="mb-3">
            <label class="form-label">Selecciona una fecha (por defecto carga el pronostico de hoy)</label>
            <input type="date" class="form-control" id="fecha" value="{{fechaActual}}" (change)="seleccionTest()">
          </div>
          <div class="mb-3">
            <label class="form-label">Selecciona variable</label>
            <select class="form-control" id="variable" (change)="seleccionTest()">
              <option value="T2">Temperatura</option>
              <option value="Ozono">ozono</option>
              <option value="Pm10">Pm10</option>
              <option value="Pm2.5">Pm2.5</option>
            </select>
          </div>
          <div class="mb-3">
            <button class="btn btn-success form-control">Mostrar grafica</button>
          </div>
        </div>
      </div>
      <div class="col-8">
        <img  id="imgSource" class="img-fluid"  alt="">
        <div class="d-flex">
          <button class="flex-shrink-0"  (click)="animation()"><i id="play-pause"  class="bi bi-play"></i></button>
          <div class="flex-grow-1">
            <input type="range" (change)="animation()" class="w-100" list="rangos" id="progress" value="0" step="1" min="0" max="24">
            <datalist id="rangos" class="ms-1 w-100 d-flex flex-row justify-content-between sm:hidden">
              <option value="0">0am</option>
              <option value="6">6am</option>
              <option value="12">12pm</option>
              <option value="18">18pm</option>
              <option value="24">24pm</option>
            </datalist>
          </div> 
        </div>
    </div>
</div>
<app-footer></app-footer>
