<app-header></app-header>
<h1 class="text-center mt-5">Sistema del control de calidad del aire</h1>
<div class="container">
    <h5>¿Que es la Calidad del aire?</h5>
    <p>La calidad del aire es una estimación que nos indica el grado de toxinas y polución atmosférica que tiene el aire en una zona. De esta manera, nos da información para saber qué tan perjudicial es ese día para nuestra salud, y con base en ello es que las autoridades nos sugieren qué tan bueno es salir a la calle a hacer ciertas actividades que requieran esfuerzo físico.</p>
    <h5>¿Que es el indice de calidad del aire?</h5>
    <p>El Índice de Calidad del Aire (ICA) es una medida que evalúa la pureza del aire en una determinada área. En la Ciudad de México, el ICA se calcula considerando varios contaminantes atmosféricos, como las partículas PM10 y PM2.5.</p>
    <!-- <div class="row">
      <div class="col">
        <video width="320" height="240" controls>
          <source src="./assets/pronost.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col">
        <img src="./assets/pronost2023-06-01.jpeg" alt="" width="300" />
      </div>
      <div class="col"></div>
    </div> -->
</div>
<app-footer></app-footer>
