<app-header-auth></app-header-auth>
<div class="container">
    <h2 class="text-center mt-2">Agrega datos de pronostico para esta fecha</h2>
    <div class="mb-3 form-floating mt-2">
      <select (change)="seleccion()" class="form-select" id="variable">
        <option value="T2" [selected]="true">Temperatura</option>
        <option value="Ozono">ozono</option>
        <option value="Pm10">Pm10</option>
        <option value="Pm2.5">Pm2.5</option>
      </select>
      <label for="floatingSelect">Selecciona una variable</label>
    </div>
  <button class="btn btn-success" (click)="subirpronostico()">Subir datos</button>
  <table class="table table-bordered mt-4">
      <thead>
          <tr >
            <th>Variable</th>
            <th>fecha</th>
            <th>Hora</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sos of referencia; let i = index">
              <td>{{variable.value}}</td>
              <td>{{fecha}}</td>
              <td>{{sos}}:00</td>
              <td><input type="file" id="upload{{i}}" (change)="onFileChange($event)" class="form-input" accept=".pdf,.jpg,.jpeg,.png"></td>
          </tr>
        </tbody>
  </table>
</div>

