<app-header></app-header>
<div class="container">
    <h2 class="text-center mt-2">Agradecimientos</h2>
    <p>Se agradece al estado de Veracruz y en especial al COVEICYDET el apoyo otorgado en la "Segunda convocatoria de proyectos de investigación científica y de desarrollo tecnológico" al proyecto CP 1111 0010/2023 denominado "Sistema de Modelado de Calidad del Aire en el estado de Veracruz mediante cómputo de alto rendimiento y redes neuronales (SiMoCAVer)"</p>
    <br>
    <p>Se agradece también al Dr. Jesús Huerta Chua director del ITS de Poza Rica y al LFCP Fredy Rafael García Muñoz subdirector administrativo del ITS de Poza Rica por sus apoyos formales en este proyecto.</p>
</div>
